<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCFMatrix" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54479/WCFMatrix.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWCFMatrix" contract="HRC_WCFRef.IWCFMatrix"
                name="BasicHttpBinding_IWCFMatrix" />
        </client>
    </system.serviceModel>
</configuration>